<div class="banner-services" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path "banner.jpg", alt: "alttext" %>);">
  <h1>Les services</h1>
</div>
<div class="container text-center">
  <% @services.each do |service| %>
    <div class="card">
      <%= service.title %>
      <%= service.city %>
      <%= service.event_type %>
      <%= service.price %>
      <%= service.details %>
    </div>
  <% end %>
</div>
