<section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                <a class="aa-property-home" href="index.html">HumanBnb</a>
                <h4>Proposez vos services</h4>
              </div>
              <form class="contactform">
                <div class="aa-single-field">
                  <%= simple_form_for [current_user, @service ] do |f| %>
                  <%= f.input :title, placeholder: "Indiquez le nom de votre service", class: "required" %>
                  <%= f.input :city, placeholder: "Indiquez la ville", class: "required"  %>
                  <%= f.input :event_type, placeholder: "Type d'evenémment", class: "required"%>
                  <%= f.input :group, placeholder: "Cochez si vous proposez un service en groupe", class: "required" %>
                  <%= f.input :price, placeholder: "Indiquez le prix/heure", class: "required" %>
                  <%= f.input :details, placeholder: "Donnez le plus de détails possible sur votre service", class: "required" %>
                  <%= f.submit "Proposez votre service" %>
                  <% end %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>








