<%= render '/shared/navbar'%>
<%= render '/shared/banner'%>

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="aa-properties-content">
            <!-- start properties content head -->
            <!-- Start properties content body -->
            <div class="aa-properties-content-body">
              <article class="aa-properties-item">
                  <div class="card-trip-infos">
                    <div>
                    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-large"/>
                  </div>
                  <a class="aa-properties-item-img">
                  <%= cl_image_tag @service.service_image, height: 300, width: 400, crop: :fill, alt: "Photo service" %>
                </a>
                <div class="aa-tag for-rent">
                  <%= @service.event_type %>
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <%= @service.city %>
                  </div>
                  <div class="aa-properties-info">
                    <h2 style="margin-top: 0; font-size: 28px;"><%= @service.title %></h2>
                    <p><%= @service.details %></p>
                  </div>
                  <div class="aa-properties-about">
                    <h3 style="font-weight: bold;">A propos de <%= @service.user.first_name%> <%= @service.user.last_name%> , <%= @service.user.age%> ans</h3>
                    <p><%= @service.user.bio %></p>
                  </div>
                  <div class="aa-properties-detial">
                      <a class="aa-secondary-btn "><span class="aa-price">
                      <%= @service.price %> € / heure
                    </span></a>
                  </div>
                </div>
              </article>
            </div>
            <!-- End properties content bottom -->
          </div>
        </div>
        <!-- Start booking sidebar -->
        <div class="col-md-4">
          <aside class="aa-properties-sidebar">
            <!-- Start Single Service Show booking sidebar-->
            <div class="aa-properties-single-sidebar">
              <h2 style="font-weight: bold; font-size: 30px;">Réservez ce service</h2>
                 <div class="aa-single-advance-search">
                    <%= simple_form_for [@service, @booking], method: "post" do |f| %>
                      <%= f.input :begin_date, as: :string, required: true, input_html: {class: "datepicker"} %>
                      <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
                      <div type="button" data-toggle= "modal" data-target= "#modal" class="btn aa-search-btn aa-primary-btn"> Réserver</div>
                    </div>

                    <div class="modal" id ="modal" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Les détails du service</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><strong ><%= @service.title %></strong></p>
                            <p>Service proposé par <strong ><%= @service.user.first_name%> <%= @service.user.last_name%></strong></p>
                            <p><%= @service.price %> € / heure </p>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn aa-search-btn aa-secondary-btn">Confirmer</button>
                            <button type="button" class="aa-top-slider-btn aa-primary-btn" data-dismiss="modal">Annuler</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  </div>
                </aside>
              </div>
          <!-- End Single Service Show booking sidebar -->
        </div>
      </div>
  </section>
  <!-- / Properties  -->






