<%= render "devise/shared/banner_form" %>
<section id="aa-signin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-signin-area">
          <div class="aa-signin-form">
            <div class="aa-signin-form-title">
                <%= link_to 'HumanBnB', root_path, class: 'aa-property-home' %>
                    <h2>Sign up</h2>
            </div>
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= f.error_notification %>

                      <div class="form-inputs contactform">
                        <%= f.input :email,
                                    required: true,
                                    autofocus: true,
                                    input_html: { autocomplete: "email" }, class: 'aa-single-field'%>
                        <%= f.input :password,
                                    required: true,
                                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                    input_html: { autocomplete: "new-password" }, class: 'aa-single-field'%>
                        <%= f.input :password_confirmation,
                                    required: true,
                                    input_html: { autocomplete: "new-password" }, class: 'aa-single-field' %>
                      </div>

                      <div class="form-actions contactform">
                        <%= f.button :submit, "Sign up", class: 'aa-search-btn aa-secondary-btn'%>
                      </div>
                    <% end %>

                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
