<%= render "devise/shared/banner_form" %>
 <section id="aa-signin">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-signin-area">
            <div class="aa-signin-form">
              <div class="aa-signin-form-title">
                   <%= link_to 'HumanBnB', root_path, class: 'aa-property-home' %>
                    <h2>Log in</h2>
              </div>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-inputs contactform">
                      <%= f.input :email,
                                  required: false,
                                  autofocus: true,
                                  input_html: { autocomplete: "email" }, class: 'aa-single-field' %>
                      <%= f.input :password,
                                  required: false,
                                  input_html: { autocomplete: "current-password" }, class: 'aa-single-field' %>
                      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                    </div>

                    <div class="form-actions contactform">
                      <%= f.button :submit, "Log in", class: 'aa-secondary-btn aa-single-submit' %>
                    </div>
                  <% end %>

                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
