<%= render '/shared/navbar'%>
<div class="banner-services" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= image_path "banner.jpg", alt: "alttext" %>);">
  <section id="aa-slider">
    <div class="aa-slider-area">
        <!-- Top slider -->
      <div class="aa-top-slider">
        <div class="aa-top-slider-single">
          <div class="aa-top-slider-content" style="text-align: center; position: initial;">
            <h1 class="aa-top-slider-title">Dashboard</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!-- End slider  -->
</div>

<div class="container">
  <ul class="list-inline tabs-underlined">
    <li>
      <a id ="tab-vente" class="tab-underlined tab-active">Mes prestations</a>
    </li>
    <li>
      <a id ="tab-achat" class="tab-underlined">Mes réservations</a>
    </li>
    <li>
      <a id ="tab-infos" class="tab-underlined">Mes informations</a>
    </li>
  </ul>
  <div id="vente">
    <% @myservices.each do |myservice| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="aa-properties-item">
          <a href="#vente" class="aa-properties-item-img">
            <%= image_tag "1.jpg", alt: "service pleureur professionnel" %>
          </a>
          <div class="aa-tag for-sale">
            <%= myservice.service.event_type %>
          </div>
          <div class="aa-properties-item-content">
            <div class="aa-properties-info">
              <i class="fas fa-map-marker-alt"></i>
                <span><%= myservice.service.city %></span>
            </div>
            <div class="aa-properties-about">
              <h3><a href="#"><%= myservice.service.title %></a></h3>
              <p><%= myservice.service.details %></p>
            </div>
            <div class="aa-properties-detial">
              <span class="aa-price">
                <%= myservice.service.price %> € / Heure
              </span>
              <div class="aa-price text-align right">
                <%= myservice.status %>
              </div>
            </div>
          </div>
        </article>
      </div>
    <% end %>
  </div>
    <div id="achat" class="hidden">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="aa-properties-item">
          <a href="#achat" class="aa-properties-item-img">
            <%= image_tag "1.jpg", alt: "service pleureur professionnel" %>
          </a>
          <div class="aa-tag for-sale">
            <%= booking.service.event_type %>
          </div>
          <div class="aa-properties-item-content">
            <div class="aa-properties-info">
              <i class="fas fa-map-marker-alt"></i>
                <span><%= booking.service.city %></span>
            </div>
            <div class="aa-properties-about">
              <h3><a href="#"><%= booking.service.title %></a></h3>
              <p><%= booking.service.details %></p>
            </div>
            <div class="aa-properties-detial">
              <span class="aa-price">
                <%= booking.service.price %> € / Heure
              </span>
              <% if booking.status == "pending" %>
                <div class="btn btn-secondary">En attente</div>
              <% elsif booking.status == "declined" %>
                <div class="btn btn-danger">Refusé</div>
              <% else %>
                <div class="btn btn-success">Accepté</div>
              <% end %>
            </div>
          </div>
        </article>
      </div>
    <% end %>
  </div>
  <div id="infos" class="hidden">
    <div class="form-users">
      <%= simple_form_for @user do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :age %>
        <%= f.input :gender %>
        <%= f.input :skills %>
        <%= f.input :bio %>
        <%= f.input :image_url %>
        <%= f.submit "Mettre à jour" %>
      <% end %>
  </div>
  </div>
</div>

<%= render '/shared/footer'%>
